/*Estilos Generales (padding)*/
body {
    font-family: 'Arial', sans-serif; /*Fuente Arial o sans-serif si no está disponible*/
    background-color: #121212; /*Establece un fondo negro grisáceo en toda la página*/
    color: #BFC0C0; /*Define el color de texto en un gris claro*/
    margin: 0; /*Elimina márgenes predeterminados del body*/
    padding: 0; /*Elimina rellenos predeterminados del body*/
}

/*Cabecera (Diplay, Justify-content, align-imtems, z-index)*/
header {
    background-color: #121212; /*Color de fondo oscuro para la cabecera.*/
    display: flex; /*Usa flexbox para distribuir elementos en la cabecera*/
    justify-content: space-between; /*Distribuye los elementos a los extremos (logo a la izquierda, menú a la derecha)*/
    align-items: center; /*Asegura que los elementos se alineen verticalmente al centro*/
    padding: 15px 50px; /*Agrega espacio interno a los lados de la cabecera*/
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /*Aplica una sombra sutil para darle profundidad a la cabecera*/
    border-bottom: 2px solid #ffffff; /*Línea blanca debajo de la cabecera*/
    position: fixed; /*Fija la cabecera en la parte superior de la pantalla*/
    top: 0;
    right: 0;
    width: 95%; /*Ancho de la pantalla que ocupa la cabecera*/
    z-index: 1000; /*Se asegura de que la cabecera esté sobre otros elementos*/
}

/* Oculta el botón hamburguesa en desktop */
.hamburger-btn {
    display: none;
    background: none;
    border: none;
    color: #c0bfbf;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
}

/*Main*/
main {
    margin-top: 80px; /*Evita que el header tape el contenido*/
}

/*Logo de la Cabecera*/
/*(.logo)*/
.logo { /*Hace que el logo ocupe un espacio proporcional a los otros elementos de la cabecera*/
    flex: 1; 
}

.logo img {/*Asegura que la imagen del logo tenga un alto fijo y un ancho ajustable.*/
    height: 50px;
    width: auto;
    padding-left: 10px;
}

/* --- Botón hamburguesa (Posición fija en móvil) --- */
.hamburger-btn {
    display: none;
    background: none;
    border: none;
    color: #c0bfbf;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
    order: 3; /* Lo coloca al extremo derecho */
}

/*Menú de Navegación*/
nav { /*Mantiene el menú alineado a la derecha*/
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center; /*Centra verticalmente*/
    height: 100%; /*Asegura que use toda la altura del header*/
}

.menu { /*(align-items)*/
    list-style: none; /*Quita los puntos de la lista*/
    display: flex; /*Lo ordena en una sola fila*/
    gap: 20px; /*Espacio entre palabras*/
    margin: 0; /*Margen*/
    padding: 5px; /*Espacio desde el margen*/
    align-items: center;
}

.menu li {
    display: inline; /*Se pone en una sola línea todo*/
    align-items: center;
    white-space: nowrap; /* Evita que el texto se parta en dos líneas */
}

.menu a {
    text-decoration: none; /*Quita el subrayado de los enlaces*/
    color: #c0bfbf; /*Color de letras del menú*/
    font-size: 18px; /*Tamaño de letra del menú*/
    transition: color 0.3s; /*Suaviza el cambio de color al pasar el mouse*/
    align-items: center;
}

.menu a:not(.btn):hover {
    color: #ffffff; /*Fondo blanco del hover*/
    text-shadow: /*Borde negro*/
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}

/*Botón especial de contacto*/
.btn {
    background-color: #0077B6;
    color: #FFFFFF;
    padding: 7px 12px;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.3s;
    font-size: 20px;
}

.btn:hover {
    color: #ffffff;
    background-color: #005a8d;
    box-shadow: 0 1px 8px rgba(255, 255, 255, 0.2);
}

/* Sección principal */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

/* Texto en la izquierda */
.texto {
    width: 57%;
    margin: 10px;
}

.texto h1 {
    font-size: 64px;
    color: #FFFFFF;
}

.texto p {
    font-size: 36px;
    line-height: 1.6;
}

/*Contenedores*/
.contenedor {
    width: 90%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
}

/*Contenido*/
.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/*Imagen de Contenido*/
.imagen img {
    width: 100%;
    max-width: 600px; /*Ancho máximo*/
    border-radius: 10px; /*Bodes redondeados*/
}

.imagenV img {
    width: 100%;
    max-height: 550px; /*Alto máximo*/
    border-radius: 10px; /*Bodes redondeados*/
}

.titulo {
    font-size: 45px;
    color: #FFFFFF;
    line-height: 1.2;
    margin-bottom: 40px; /* Espacio entre el título y el contenido */
}

.parrafo {
    width: 36%; /*Ancho del bloque de texto*/
    text-align: justify; /*Texto justificado*/
}

.parrafo p {
    font-size: 25px; /*Tamaño*/
    color: #FFFFFF; /*Color*/
    line-height: 1.4;
}

.parrafo a {
    text-decoration: none !important;
    color: inherit !important;
}

.parrafo a:visited {
    color: inherit !important;
}

.parrafo a:hover {
    color: white !important;
}

/*Contact*/
.contact-container {
    max-width: 600px;
    margin: 150px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.contact-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    resize: vertical;
}

/* Footer */
footer {
    background-color: #121212;
    color: #BFC0C0;
    padding: 40px 0;
    text-align: center;
}

/* Contenedor del footer */
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    background-color: #121212;
}

/* Logo en el footer */
.footer-logo img {
    width: 150px;
    margin: 35px;
}

/* Enlaces rápidos y contacto */
.footer-links, .footer-contacto, .footer-social {
    width: 25%;
    min-width: 200px;
}

/* Títulos de secciones */
.footer-links h3, .footer-contacto h3, .footer-social h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Lista de enlaces */
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 8px 0;
}

.footer-links a {
    text-decoration: none;
    color: #BFC0C0;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #0077B6;
}

/* Redes sociales */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 40px;
    transition: transform 0.3s;
    border-radius: 7.5px;
}

.social-icons a:hover img {
    transform: scale(1.15);
}

/* Línea inferior del footer */
.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    padding: 10px 0;
    text-align: center;
}

/* Responsividad */
@media (max-width: 850px) {
    header {
        padding: 15px 20px;
        width: 95%;
        /* Mantiene el header en una sola línea */
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    /* Mueve el logo junto al botón hamburguesa */
    .logo {
        order: 1; /* Logo a la izquierda */
        flex: 0; /* Evita que ocupe espacio innecesario */
    }

    /* Muestra el botón hamburguesa */
    .hamburger-btn {
        display: block; /* Muestra el botón */
        order: 2; /* Botón a la derecha */
    }

    /* Oculta el menú normal */
    nav {
        display: none;
        transition: all 0.3s ease-out;
    }

    /* Estilos cuando el menú está activo */
    nav.active {
        display: block;
        position: absolute;
        top: 90px; /* Ajusta según altura de tu header */
        right: 20px;
        background-color: #121212;
        border: 2px solid #ffffff;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        padding: 15px;
        z-index: 1001;
        /* Nuevas propiedades para ajustar el alto */
        min-height: 260px; /* Altura mínimo */
        overflow-y: auto; /* Permite scroll si el contenido es muy largo */
        width: auto; /* Ancho automático según el contenido */
        min-width: 140px; /* Ancho mínimo para que no se vea estrecho */
    }

    /* Cambia a menú vertical */
    .menu {
        flex-direction: column;
        gap: 15px;
        padding: 0;
        width: 100%;
    }

    .menu li {
        display: block;
        text-align: center;
        width: 100%;
    }

    .menu a {
        font-size: 18px;
        display: block;
        padding: 8px 20px;
    }

    .btn {
        margin-top: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .texto {
        width: 100%;
        margin-bottom: 50px;
    }

    .texto h1 {
        font-size: 50px;
    }
    
    .texto p {
        font-size: 20px;
    }

    .imagen img {
        width: 80%;
        margin-top: 0;
    }
    
    .imagenV img {
        max-height: 450px; /*Alto máximo*/
    }

    .titulo {
        font-size: 35px;
        margin-bottom: 20px; /* Espacio entre el título y el contenido */
    }

    .contenedor {
        padding-top: 80px;
    }

    .contenido {
        flex-direction: column; /* Cambia la dirección a vertical (arriba-abajo) */
        gap: 30px; /* Espacio entre texto e imagen */
    }

    .parrafo {
        width: 90%; /*Ancho del bloque de texto*/
        text-align: justify;
    }

    .parrafo p {
        font-size: 20px; /*Tamaño*/
    }

    .parrafo a{
        display:block;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links, .footer-contacto, .footer-social {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-container {
        width: 80%;
        padding-left: 20px;
    }
    .contact-container h1 {
        font-size: 24px;
    }
}
