<!-- Footer que se cargará en cada página html -->
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <a href="/"><img src="/frontend/images/Logo.png" alt="Logo"></a>
        </div>

        <div class="footer-links">
            <h3>Enlaces rápidos</h3>
            <ul>
                <li><a href="/frontend/pages/ia.html">IA</a></li>
                <li><a href="/frontend/pages/modelos.html">Modelos</a></li>
                <li><a href="/frontend/pages/aboutme.html">Sobre mí</a></li>
                <li><a href="/frontend/pages/contact.html">Contacto</a></li>
            </ul>
        </div>

        <div class="footer-contacto">
            <h3>Contacto</h3>
            <p>Email: info@erickdelpiero.com</p>
            <p>Teléfono: +51 987 654 321</p>
            <p>Lima - Perú</p>
        </div>

        <div class="footer-social">
            <h3>Sígueme</h3>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/erickdelpiero/"><img src="/frontend/images/linkedin.jpg" alt="LinkedIn"></a>
                <a href="https://www.youtube.com/@erickdelpierogr"><img src="/frontend/images/Youtube.jpg" alt="Youtube"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Portafolio IA. Todos los derechos reservados.</p>
    </div>
</footer>