<!-- Header que se cargará en cada página html -->
<header>
    <!-- Logo (se moverá a la derecha en responsive) -->
    <div class="logo">
        <a href="/index.html"><img src="/frontend/images/Logo.png"></a>
    </div>

    <!-- Botón hamburguesa (siempre visible en móvil) -->
    <button class="hamburger-btn">☰</button>

    <!-- Menú de navegación -->
    <nav>
        <ul class="menu">
            <li><a href="/index.html"><b>Inicio</b></a></li>
            <li><a href="/frontend/pages/ia.html"><b>IA</b></a></li>
            <li><a href="/frontend/pages/modelos.html"><b>Modelos</b></a></li>
            <li><a href="/frontend/pages/aboutme.html"><b>Sobre Mí</b></a></li>
            <li><a href="/frontend/pages/contact.html" class="btn"><b>Contacto</b></a></li>
        </ul>
    </nav>
    
</header>